.button {
  color: white;
  border: none;
  padding: 5px 15px;
}

.green-button {
  background-color: green;
}

.red-button {
  background-color: rgb(185, 3, 3);
}

.todo-grid,
.todo-input-grid,
.test-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px 100px;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  /* background-color:red; */
}

.todo-input-grid {
  margin-bottom: 10px;
}

.check-box {
  width: 50px;
  height: 20px
}
